<dx-tabs
  #withIconAndText
  [width]="'100%'"
  [selectedIndex]="0"
  [showNavButtons]="true"
  [dataSource]="tabs"
  [(selectedIndex)]="selectedIndex"
  (onItemClick)="selectTab($event)"
  [stylingMode]="'primary'"
  [iconPosition]="'start'">
</dx-tabs>

<div class="frame" *ngIf="event">
  <ng-template [ngIf]="selectedTab == 'Sessions'">
    <app-session-schedule [event]="event"></app-session-schedule>
  </ng-template>

  <ng-template [ngIf]="selectedTab == 'My Schedule'">
    <app-my-schedule [event]="event"></app-my-schedule>
  </ng-template>

</div>
