<dx-tabs
  #withIconAndText
  [width]="'100%'"
  [selectedIndex]="0"
  [showNavButtons]="true"
  [dataSource]="tabs"
  [(selectedIndex)]="selectedIndex"
  (onItemClick)="selectTab($event)"
  [stylingMode]="'primary'"
  [iconPosition]="'start'">
</dx-tabs>

<div class="frame" *ngIf="event">
  <ng-template [ngIf]="selectedTab == 'Schedule'">
    <app-session-schedule [event]="event" [fullSchedule]="fullSchedule" [activeDay]="activeDay" (courseUpdated)="handleCourseUpdate($event)" [currentUser]="currentUser"></app-session-schedule>
  </ng-template>

  <ng-template [ngIf]="selectedTab == 'My Sessions'">
    <app-my-sessions [myCourses]="myCourses" [allCourses]="allCourses" [currentUser]="currentUser" [event]="event"></app-my-sessions>
  </ng-template>

</div>

<app-course-modal (courseUpdated)="handleCourseUpdate($event)" [allCourses]="allCourses"></app-course-modal>
