<div class="user-profile">
  <div class="user-profile__wrapper">
    <div class="user-profile__header">
      <div class="user-profile__header-icon">
        <i class="fas fa-user"></i>
      </div>
    </div>
    <!--TODO: connect to actual user profile-->
    <!--TODO: connect edit button, show form item in place of text, need ability to update this info, specifically email-->
    <div class="user-profile__info">
      <div class="user-profile__info-section">
        <div class="title">Name</div>
        <div class="user">{{ currentUser?.firstName }} {{ currentUser?.lastName }}</div>
        <i class="fas fa-pen"></i>
      </div>
      <div class="user-profile__info-section">
        <div class="title">Email</div>
        <div class="user">{{ currentUser?.email }}</div>
        <i class="fas fa-pen"></i>
      </div>
      <div class="user-profile__info-section">
        <div class="title">Phone</div>
        <div class="user">{{ currentUser?.phone }}</div>
        <i class="fas fa-pen"></i>
      </div>
    </div>
    <div class="user-profile__menu">
      <a href="/schedule" class="user-profile__menu-item">
        <div class="title">My Schedule</div>
        <i class="fas fa-chevron-right"></i>
      </a>
      <a class="user-profile__menu-item">
        <div class="title">Breakouts</div>
        <i class="fas fa-chevron-right"></i>
      </a>
      <a href="/event-selector" class="user-profile__menu-item">
        <div class="title">View All Events</div>
        <i class="fas fa-chevron-right"></i>
      </a>
      <a href="/faq" class="user-profile__menu-item">
        <div class="title">FAQ</div>
        <i class="fas fa-chevron-right"></i>
      </a>
      <a href="policy" class="user-profile__menu-item">
        <div class="title">Privacy & Terms</div>
        <i class="fas fa-chevron-right"></i>
      </a>
      <a class="user-profile__menu-item" (click)="logout()">
        <div class="title">Sign Out</div>
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div>
</div>