<div class="arrival">
  <div class="arrival__header">
    <div class="arrival__logo-wrapper">
      <img src="../../../assets/icons/Impact-Logo_Light.png" width="50px" height="50px">
    </div>
    <div class="arrival__title">ON ARRIVAL</div>
  </div>
  <div class="arrival__checkin">
    <div class="location">
      <div class="location__title">LOCATION</div>
      <div class="location__description">{{ locationId | location: 'full' | async }}</div>
    </div>
    <div class="time">
      <div class="time__title">CHECK-IN</div>
      <div class="time__description">{{ event?.startDate.toString() | date: 'EEEE, MMMM d, y, h:mm a ' }}</div>
    </div>
  </div>
  <div class="arrival__buttons">
    <a class="button">
      <div class="title">Breakouts</div>
      <i class="fas fa-chevron-right"></i>
    </a>
    <a href="/schedule" class="button">
      <div class="title">My Schedule</div>
      <i class="fas fa-chevron-right"></i>
    </a>
    <a href="/faq" class="button">
      <div class="title">FAQs</div>
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
  <div *ngIf="sanitizedContent" class="arrival__text" [innerHTML]="sanitizedContent"></div>
</div>
