<div class="dining">
  <div class="dining__header">
    <div class="dining__logo-wrapper">
      <i class="fa-solid fa-utensils"></i>
    </div>
    <div class="dining__title">DINING</div>
  </div>
  <div class="subtitle">Refreshments Available All Day in Main Lobby</div>
  <div class="dining__schedule" *ngFor="let group of diningSchedule">
    <div class="date">{{ group.date | date: 'EEEE, MMMM d' }}</div>
    <div *ngFor="let item of group.items" class="agenda-item">
      <div class="time">{{ item.startDate | date: 'h:mma' }}</div>
      <div class="name">{{ item.text }}</div>
    </div>
  </div>
  <hr class="custom-hr">
  <div *ngIf="sanitizedContent" class="dining__text" [innerHTML]="sanitizedContent"></div>
</div>
