<div class="faq">
  <a class="faq__back-icon" href="/home"><i class="fas fa-chevron-left"></i></a>
  <div class="faq__header">
    <div class="faq__logo-wrapper">
      <img src="../../../assets/icons/Impact-Logo_Light.png" width="50px" height="50px">
    </div>
    <div class="faq__title">FAQs</div>
  </div>
  <div class="faq__list">
    <div *ngFor="let faq of event?.faqList" class="faq__list-item">
      <div class="question">{{ faq.question }}</div>
      <div class="answer" [innerHTML]="sanitizeHtml(faq.answer)"></div>
    </div>
  </div>
</div>