.faq {
  &__column {
    background-color: #c2e4ed;
    padding: 30px 20px;
  }
  &__title {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  &__icon {
    margin-right: 10px;
    font-size: 30px;
    color: #4b92fe;
  }
  &__question {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
  }
}
