<div class="policy">
  <div class="policy__header">
    <div class="policy__logo-wrapper">
      <img src="../../../assets/icons/Impact-Logo_Light.png" width="50px" height="50px">
    </div>
    <div class="policy__title">Policy & Terms</div>
  </div>
  <div class="policy__list">
    <div class="title">Private Policy</div>
    <div class="answer" [innerHTML]="sanitizeHtml(webConfig.policy)"></div>
    <div class="title">Terms of Service</div>
    <div class="answer" [innerHTML]="sanitizeHtml(webConfig.tos)"></div>
  </div>
</div>
