<div *ngIf="isVisible$ | async" style="height: 90vh;">
  <div class="add-item-modal">
    <div class="add-item-modal__content" *ngIf="isVisible$ | async">
      <dx-form
        #addEditForm
        [(formData)]="lesson"
        [showColonAfterLabel]="false"
        labelLocation="left"
        [colCount]="6">
        <dxi-item dataField="order" [colSpan]="1" [isRequired]="true">
          <div *dxTemplate>
            <dx-number-box
              [(value)]="lesson.order">
            </dx-number-box>
          </div>
        </dxi-item>
        <dxi-item dataField="title" [colSpan]="2" [isRequired]="true"></dxi-item>
        <dxi-item dataField="lesson" [colSpan]="2" [isRequired]="false">
          <div *dxTemplate>
            <dx-lookup
              [showCancelButton]="false"
              [displayExpr]="'title'"
              [valueExpr]="'id'"
              [items]="unitList"
              [(value)]="lesson.unit">
            </dx-lookup>
          </div>
        </dxi-item>
        <dxi-item [colSpan]="1">
          <div *dxTemplate>
            <dx-button
              width="150px"
              style="margin-right: 10px;"
              text="SAVE"
              stylingMode="contained"
              type="normal"
              (onClick)="onSave(lesson)">
            </dx-button>
          </div>
        </dxi-item>
      </dx-form>
    </div>
  </div>
  <div *ngIf="this.form">
    <formio [form]="form"></formio>
  </div>
</div>

