<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  height="75%"
  width="60%"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <dxi-toolbar-item toolbar="top" location="center">
    <div *dxTemplate>
      <p class="popup-title">
        {{ book?.id ? 'EDIT' : 'ADD' }} BOOK
      </p>
    </div>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="add-item-modal">
      <div class="add-item-modal__content" *ngIf="isVisible$ | async">
        <dx-form
          #addEditForm
          [(formData)]="book"
          [showColonAfterLabel]="false"
          labelLocation="left">
          <dxi-item itemType="group" [colCount]="4" [colSpan]="1">
            <dxi-item dataField="title" [colSpan]="3" [isRequired]="true"></dxi-item>
            <dxi-item dataField="year" [colSpan]="1" [isRequired]="true"></dxi-item>

            <dxi-item dataField="author" [colSpan]="2" [isRequired]="true"></dxi-item>
            <dxi-item dataField="series" [colSpan]="2" [isRequired]="true">
              <div *dxTemplate>
                  <dx-lookup
                    [showCancelButton]="false"
                    [displayExpr]="'title'"
                    [valueExpr]="'id'"
                    [items]="seriesList"
                    [(value)]="book.series">
                  </dx-lookup>
              </div>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row" style="padding-top: 10px; padding-bottom: 5px;">
            <div class="col-9"><h4>Units in Book</h4></div>
            <div class="col-3">
              <dx-button
                style="position: absolute; right: 15px;"
                text="Add Unit"
                stylingMode="contained"
                type="normal"
                [disabled]="inProgress$ | async"
                (onClick)="showUnitEditModal()">
              </dx-button>
            </div>
          </div>
          <dx-data-grid class="dx-card wide-card"
            #grid
            [dataSource]="unitsDatasource$ | async"
            [height]="'45vh'"
            [showBorders]="false"
            [showColumnLines]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [focusedRowEnabled]="true"
            [columnAutoWidth]="true"
            (onRowDblClick)="showUnitEditModal($event)">
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column dataField="order"></dxi-column>
            <dxi-column dataField="title"></dxi-column>
            <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
              <dxi-button icon="trash" hint="DELETE" [onClick]="deleteUnit"></dxi-button>
            </dxi-column>
          </dx-data-grid>
        </div>
        <div class="col-6">
          <div class="row" style="padding-top: 10px; padding-bottom: 5px;">
            <div class="col-9"><h4>Lessons in Book</h4></div>
            <div class="col-3">
              <dx-button
                style="position: absolute; right: 15px;"
                text="Add Lesson"
                stylingMode="contained"
                type="normal"
                [disabled]="inProgress$ | async"
                (onClick)="showLessonEditModal()">
              </dx-button>
            </div>
          </div>
          <dx-data-grid class="dx-card wide-card"
            #grid
            [dataSource]="lessonsDatasource$ | async"
            [height]="'45vh'"
            [showBorders]="false"
            [showColumnLines]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [focusedRowEnabled]="true"
            [columnAutoWidth]="true"
            (onRowDblClick)="showLessonEditModal($event)">
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column dataField="order"></dxi-column>
            <dxi-column dataField="title"></dxi-column>
            <dxi-column dataField="unit">
              <dxo-lookup [dataSource]="unitsList" [displayExpr]="'title'" [valueExpr]="'id'"></dxo-lookup>
            </dxi-column>
            <dxi-column type="buttons" caption="Actions" [allowReordering]="false">
              <dxi-button icon="trash" hint="DELETE" [onClick]="deleteLesson"></dxi-button>
            </dxi-column>
          </dx-data-grid>
        </div>
      </div>
      <div class="add-item-modal__button-group" style="position: absolute; right: 15px; bottom: 10px;">
          <dx-button
            width="150px"
            style="margin-right: 10px;"
            text="CANCEL"
            stylingMode="contained"
            type="normal"
            [disabled]="inProgress$ | async"
            (onClick)="onCancel()">
          </dx-button>
          <dx-button
            width="150px"
            text="SAVE"
            stylingMode="contained"
            type="normal"
            [disabled]="inProgress$ | async"
            (onClick)="onSave(book)">
          </dx-button>
      </div>
    </div>
  </div>
</dx-popup>

