<div class="home">
  <img width="100%" [src]="event?.imageUrl?.url" alt="Card image cap">

  <!--TODO: Add logic for showing the next event on the user's schedule-->
  <!--TODO: Add click to see session details-->
  <div class="next-session" *ngIf="upcomingItem">
    <div class="next-session__wrapper">
      <i class="fas fa-business-time"></i>
      <div class="next-session__info">
        <div class="next-session__info-pretitle">UPCOMING</div>
        <div *ngIf="upcomingItem.item.isCourse" class="next-session__info-title">{{ getCourseTitle(getCourseById(upcomingItem.item.course)) }}</div>
        <div *ngIf="!upcomingItem.item.isCourse" class="next-session__info-title">{{ upcomingItem.item.text }}</div>
        <div class="next-session__info-details">
          <div class="time"><strong>Time:</strong>{{ upcomingItem.item.startDate | date: 'h:mm a' }} - {{ upcomingItem.item.endDate | date: 'h:mm a' }}</div>
          <div class="place"><strong>Place:</strong>{{ getRoomName(upcomingItem.item.room) }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-menu">
    <div class="home-menu__row">
      <a href="/on-arrival" class="home-menu__item">
        <i class="fas fa-check-circle"></i>
        <div class="home-menu__item-text">On Arrival</div>
      </a>
      <div class="home-menu__item" (click)="scrollToToday()">
        <i class="fas fa-forward"></i>
        <div class="home-menu__item-text">What's Next</div>
      </div>
      <a href="/schedule" class="home-menu__item">
        <i class="fas fa-calendar-day"></i>
        <div class="home-menu__item-text">Schedule</div>
      </a>
    </div>
    <div class="home-menu__row">
      <a href="/coaches" class="home-menu__item">
        <i class="fas fa-user-tie"></i>
        <div class="home-menu__item-text">Coaches</div>
      </a>
      <a href="/dining" class="home-menu__item">
        <i class="fas fa-utensils"></i>
        <div class="home-menu__item-text">Dining</div>
      </a>
      <a href="/faq" class="home-menu__item">
        <i class="fas fa-question-circle"></i>
        <div class="home-menu__item-text">FAQs</div>
      </a>
    </div>
  </div>

  <div class="announcements" *ngIf="event">
    <div class="announcements__header">Announcements</div>
    <div class="announcements__wrapper" *ngIf="announcements?.length > 0">
      <div
        *ngFor="let announcement of announcements"
        class="announcements__item"
      >
        <div class="announcements__item-title">{{ announcement.title }}</div>
        <div class="announcements__item-text">{{ announcement.announcement }}</div>
        <div class="announcements__item-footer">
          <div class="announcements__item-time">{{ announcement.date.toString() | date: 'EEE h:mm a' }}</div>
          <i class="fas fa-eye" (click)="viewAnnouncement(announcement)"></i>
        </div>
      </div>
    </div>
    <div class="announcements__noData"*ngIf="announcements?.length === 0">
      Check Back for Updates!
    </div>
  </div>

  <!--TODO: Get year from event date-->
  <div class="welcome">
    <div class="welcome__header">
      <img src="../../../assets/icons/Impact-Logo_Light.png" width="40px" height="40px">
      <div class="welcome__pretitle">WELCOME TO THE {{ event?.startDate.toString() | date: 'yyyy' }}</div>
      <div class="welcome__title">{{ event?.eventName }}</div>
    </div>
    <div class="welcome__text">{{ event?.description }}</div>
    <div class="coaches" *ngIf="event">
      <div class="coaches__header">Speakers</div>
      <div class="coaches__wrapper">
        <div *ngFor="let coach of coaches" class="coaches__item">
          <div class="coaches__item-image fix">
            <img class="transform" [src]="coach.photoUrl.url" [alt]="coach.firstName" width="50px" height="50px">
          </div>
          <div class="coaches__item-name">{{ coach.firstName }} {{ coach.lastName }}</div>
        </div>
      </div>
    </div>
  </div>

  <!--TODO: Get 'Whats Next' from event-->
  <div class="today" #today>
    <div class="today__header">
      <div class="today__header-title">What to Know</div>
      <div class="today__header-subtitle">Day 2 <i class="fas fa-forward"></i></div>
      <hr class="custom-hr">
    </div>
    <div *ngIf="sanitizedContent" [innerHtml]="sanitizedContent"></div>
  </div>
</div>

<dx-popup
  [showTitle]="true"
  [dragEnabled]="false"
  [visible]="isVisible$ | async"
  [width]="'90%'"
  [height]="'70%'"
  [showCloseButton]="true"
  (onHiding)="onCancel()">
  <div class="announcement-popup">
    <div class="announcement-popup__title">{{ selectedAnnouncement?.title }}</div>
    <div class="announcement-popup__date">{{ selectedAnnouncement?.date.toString() | date: 'EEEE, MM dd yyy, hh:mm a' }}</div>
    <div class="announcement-popup__details">{{ selectedAnnouncement?.announcement }}</div>
  </div>
</dx-popup>
