<dx-tabs
  #withIconAndText
  [width]="'100%'"
  [selectedIndex]="0"
  [showNavButtons]="true"
  [dataSource]="tabs"
  [(selectedIndex)]="selectedIndex"
  (onItemClick)="selectTab($event)"
  [stylingMode]="'primary'"
  [iconPosition]="'start'">
</dx-tabs>

<div class="frame" *ngIf="event">
  <ng-template [ngIf]="selectedTab == 'Welcome'">
    <app-welcome [event]="event"></app-welcome>
  </ng-template>

  <ng-template [ngIf]="selectedTab == 'FAQ'">
    <app-faq [event]="event"></app-faq>
  </ng-template>

</div>
