
<div class="frame">
  <div class="card" style="width: 100%;">
    <img class="card-img-top"  width="100%" src="https://firebasestorage.googleapis.com/v0/b/impactdisciples-a82a8.appspot.com/o/Web-Pages%2FContent%2FSummit-Graphic-2024.png?alt=media&token=b22df105-91fd-4446-b959-9739e430da82" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Welcome to {{(event | async).eventName}} 2025</h5>
      <p class="card-text">{{(event | async).description}}</p>
    </div>
  </div>
</div>
