<div style="top: 50px;">
  <div class="row" style="width: 100vw;">
    <div class="col-3">
        <div class="row">
          <div class="col-12">
            <div class="content-block responsive-paddings">
              <dx-toolbar class="content-list__header">
                <dxi-item location="before" locateInMenu="never">
                  <div *dxTemplate>
                    <h4 class="content-block responsive-paddings underline">Publishing Manager</h4>
                  </div>
                </dxi-item>
                <dxi-item location="after">
                  <div *dxTemplate>
                    <dx-button class="icon-button manage-button" style="margin-right: 5px;" hint="MANAGE SERIES" icon="preferences" (onClick)="showBookSeriesListModal()"></dx-button>
                    <dx-button class="icon-button manage-button" hint="REFRESH LIST" icon="refresh" (onClick)="getTreeData()"></dx-button>
                  </div>
                </dxi-item>
              </dx-toolbar>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <dx-tree-view
              height="100%"
              [dataSource]="this.treeItems"
              (onItemClick)="showModal($event)">
              <div *dxTemplate="let item of 'item'">
                  <div style="font-size: large;">{{ item.title }}</div>
              </div>
            </dx-tree-view>
          </div>
        </div>
    </div>
    <div class="col-9"><app-lesson-modal></app-lesson-modal></div>
  </div>
</div>

<app-series-list></app-series-list>
<app-series-modal></app-series-modal>
<app-book-modal></app-book-modal>
<app-unit-modal></app-unit-modal>

